

.form_manager_user{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .list_user{
        width: 100%;
    }
}



.width_col{
    width: 20%;
    text-align: center;
    font-size: 14px;
    color: rgba(7, 7, 7, 0.5);
    font-weight: normal;
    padding: 10px 0px;
}

.width_col_sub{
    text-align: center;
    font-size: 14px;
}


.form_infor{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    font-size: 14px;

}