@mixin btn_login {
    padding: 10px;
    width: 150px;
    border: 0;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}

.login{

    .title_login{
        
    }


    .form_login {

        margin-left: auto;
        margin-right: auto;
        width: 30%;

        .title  {
            color: #8A8A8F;
            padding: 10px 0px;
        }

        .content {
            width: 100%;
            height: 30px;
            font-size: 14px;
            outline: none;
            padding: 0px 5px;
        }

        .redirect{
            text-align: end;
            font-size: 14px;
            padding: 5px;
        }

        .btn_login{

            padding: 20px 0px;
            text-align: center;

            .btn_login_sub{
                @include btn_login();
                background-color: black;
                color: white;
            }

            .btn_login_facebook{
                @include btn_login(); 
                background-color: #385499;
                color: white;
                border: 0.5px solid #385499;
            }

            .btn_login_google{
                @include btn_login();
                background-color: white;
                border: 0.5px solid black;
            }

        }
        
    }
}
