

.nofitication{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    font-size: 14px;

    .form {
        background-color: white;
        width: 20%;
        margin: auto;
        margin-top: 200px;
        border-radius: 3px;

        .exit{

            height: 25px;
            position: relative;

            ._exit{
                width: 25px;
                height: 25px;
                cursor: pointer;
                border-radius: 3px;
                position: absolute;
                right: 0;
                text-align: center;
                display: flex;

                &:hover{
                    background-color: #f44336;
                    color: white;
                }
            }

        }

        .content{
            text-align: center;
            font-size: 18px;
            padding-top: 10px;
        }

        .btn_exit{

            text-align: end;
            padding: 10px 10px;

            .btn_exit_sub{
                background-color: black;
                color: white;
                cursor: pointer;
                padding: 5px 10px;
                border-radius: 3px;

                &:hover{
                    opacity: 0.5;
                }
            }

        }

    }
}